name: ci

on: [push]

env:
  AWS_REGION: us-west-2
  ECR_REPOSITORY: nl-api-flask

jobs:
  build-and-test:
    name: Build and test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: run tests
        run: make tests
